*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container {
    margin: 4rem;
}
.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2.5rem;
}

.card-details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: flex-start;
}

.card-btn {
    background-color: #007BFF;
    margin: 1rem;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}

.card-name {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
    margin-left: 1rem;
}
.card-description {
   margin: 1rem;
}
.card-img {
    height: 100%;
}

.reserve-rocket {
    background-color: white;
    border: 2px solid gray;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 5px;
    color: gray;
    margin: 1rem;
}

.reserved {
    background-color: rgba(0, 0, 255, 0.212);
    border-radius: 5px;
    padding: 2px 5px;
}